body {
  background-color: rgb(80, 80, 80);
}

#shopping-site-title {
  font-family: 'Londrina Shadow', 'cursive';
  font-size: 80px;
  padding: 0px 500px 0px 750px;
  letter-spacing: 1px;
}

#basket {
  font-family: 'Bitter', serif;
  font-size: 30px;
  margin-left: 30px;
}

.header {
  background-image: url("https://img.freepik.com/free-photo/white-simple-textured-design-background_53876-97408.jpg?w=360");
  text-align: center;
  border-radius: 10px;
}

.label {
  display: inline-block;
}

#list-of-products {
  font-family: 'Bitter', serif;
  text-align: center;
  color: aliceblue;
  margin-top: 35px;
  margin-bottom: 60px;
  font-size: 40px;
}

#computer {
  background-image: url("https://img.freepik.com/free-photo/white-simple-textured-design-background_53876-97408.jpg?w=360");
  border-radius: 20px;
  padding: 100px 60px;
  width: 300px;
  height: 400px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
  margin: 0px 150px;
}

#book {
  background-image: url("https://img.freepik.com/free-photo/white-simple-textured-design-background_53876-97408.jpg?w=360");
  border-radius: 20px;
  padding: 100px 60px;
  width: 300px;
  height: 400px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
  margin: 0px 150px;
}

#banana {
  background-image: url("https://img.freepik.com/free-photo/white-simple-textured-design-background_53876-97408.jpg?w=360");
  border-radius: 20px;
  padding: 100px 60px;
  width: 300px;
  height: 400px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
  margin: 0px 150px;
}

.row-one {
  display: inline-block;
  text-align: center;
}

img {
  width: 300px;
  height: 250px;
  border-radius: 20px;
}

.item-title {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  letter-spacing: 1px;
  margin-top: -50px;
  margin-bottom: 10px;
}

.item-price {
  font-family: 'Bitter', serif;
  font-size: 25px;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttons {
  display: grid;
}

input[type="button"] {
  margin: 10px;
  border-radius: 10px;
  color: #FFF;
  font-size: 20px;
  border-width: 5px;
  font-family: 'Raleway', sans-serif;
  padding: 15px 20px;
}

.view {
  background-color: rgb(157, 157, 157);
}

.add {
  background-color: rgb(247, 148, 48);
}

.container {
  background-image: url("https://img.freepik.com/free-photo/white-simple-textured-design-background_53876-97408.jpg?w=360");
  border-radius: 20px;
  padding: 100px 60px;
  width: 1600px;
  height: 700px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
  margin: 0px 250px;
  align-items: center;
}

#item-name {
  text-align: center;
  font-family: 'Londrina Shadow', 'cursive';
  font-size: 90px;
  letter-spacing: 1px;
  color: white;
  padding: 0px 500px 0px 750px;
  margin-left: 200px;
}

h2 {
  font-family: 'Bitter', serif;
  font-size: 40px;
}

p,
li {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.viewItemHeader {
  display: inline-block;
}

#go-back-home,
#go-home-basket {
  margin-left: 10px;
  background-color: rgb(247, 148, 48);
  border-radius: 10px;
  font-size: 30px;
}

.basket-container {
  background-image: url("https://img.freepik.com/free-photo/white-simple-textured-design-background_53876-97408.jpg?w=360");
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
  align-items: center;
  display: inline-block;
}

#summary-container {
  width: 800px;
  height: 800px;
  margin: 10px 50px 50px 400px;
}

#checkout-container {
  width: 500px;
  height: 800px;
  margin: 10px 100px 50px 50px;
}

.basket-header {
  display: inline-block;
}

#your-basket-title {
  text-align: center;
  font-family: 'Londrina Shadow', 'cursive';
  font-size: 90px;
  letter-spacing: 1px;
  color: white;
  padding: 0px 500px 0px 600px;
}

#buy-now-button {
  margin-left: 1480px;
  margin-top: -80px;
  margin-bottom: 50px;
  background-color: rgb(247, 148, 48);
  border-radius: 10px;
  font-size: 30px;
}
